.container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    /* background-image: url("../../assets/image/bg.jpg"); */
}
.section {
    display: flex;
    justify-content: space-between;
    align-items: center;
}