.cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  padding: 40px;
}
.carts {
  width: 350px;
  height: 550px;
  margin: 50px;
  border-bottom-left-radius: 160px;
  border-bottom-right-radius: 160px;
  overflow: hidden;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  box-sizing: border-box;
  filter: drop-shadow(0 4px 30px rgba(67, 165, 227, 0.8));
  background: linear-gradient(272.38deg, #43a5e3 46.06%, #f408e8 81.53%);
  -webkit-filter: drop-shadow(0 4px 30px rgba(67, 165, 227, 0.8));
}
.carts:nth-child(1) {
  background: linear-gradient(to bottom, #43a5e3, #1a142a);
}
.carts:nth-child(2) {
  background: linear-gradient(to bottom, #43a5e3, #23263b);
}
.carts:nth-child(3) {
  background: linear-gradient(to bottom, #5073a7, #23263b);
}
.carts:nth-child(4) {
  background: linear-gradient(to bottom, #5073a7, #23263b);
}
.carts:nth-child(5) {
  background: linear-gradient(to bottom, #5073a7, #23263b);
}
.carts p,h3 {
  font-size: 24px;
  padding: 10px;
  text-align: center;
  color: antiquewhite;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.icon {
    /* width: 120px; */
    /* height: 120px; */
    color: antiquewhite;
}