.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 20%;
  min-height: fit-content;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}
.profile-details-name {
  font-size: 32px;
  font-family: "DM Sans";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: "DM Sans";
}
.primary-text {
  color: #fff;
}
.profile-role-tagline {
  font-size: 24px;
  margin: 5px 0 0 0;
  font-family: "DM Sans";
}
.profile-options .highlighted-btns {
  border: 3px solid #43a5e3;
  border-radius: 50px;
  box-sizing: border-box;
  -webkit-filter: drop-shadow(0 4px 30px rgba(67, 165, 227, 0.8));
  filter: drop-shadow(0 4px 30px rgba(67, 165, 227, 0.8));
  height: 70px;
  width: 350px;
  -webkit-text-fill-color: transparent;
  background: linear-gradient(272.38deg, #43a5e3 46.06%, #f408e8 81.53%);
  background-clip: text;
  -webkit-background-clip: text;
  font-size: 40px;
  text-align: center;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}
.profile-options .highlighted-btns:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0 0  #fff;
  width: 380px;
  height: 380px;
  margin: 0 0 0 100px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  background-image: url("../../assets/image/1709405156320-removebg-preview.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.profile-picture-background:hover {
  transform: scale(1.07);
  -webkit-transform: scale(1.07);
  -moz-transform: scale(1.07);
  -ms-transform: scale(1.07);
  -o-transform: scale(1.07);
  transition: 1s ease-out;
  -webkit-transition: 1s ease-out;
  -moz-transition: 1s ease-out;
  -ms-transition: 1s ease-out;
  -o-transition: 1s ease-out;
}
.colz .colz-icon {
  color: #fff;
  padding: 8px;
  padding-left: 0px;
}
.colz .colz-icon a:hover{
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/* responsive  */
@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
}
@media screen and (max-width: 910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}
@media screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    margin:0;
    left: 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-around;
  }
  .profile-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btns {
    margin: 0 !important;
  }
  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .profile-container {
    display: flex;
    width: 500px;
    flex-direction: column;
  }
  .profile-parent {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0;
    left: 0;
  }
}

@media screen and (max-width: 375px) {
  .profile-container {
    width: 375px;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
  }
  .profile-parent {
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 5px;
    left: 0;
  }
}
